/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.container {
  text-align: center;
  max-width: 600px;
  margin-left: 325px;
  margin-top: 100px;
}

h1{
  
  text-align: center;
  
}